.main-body{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-body2{
    background-image: url("images/15275681_5556734.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-bodyprofile{
    background-image: url("images/9694001_4249454.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    background-image: url("images/logo1.png");
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.title1{
    font-family: "Honey";
    font-size: 30px;
    letter-spacing: 3px;
}

.background{
    background-image: url("images/logo3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title2{
    font-size: 25px;
    font-weight: bold;
}

.cart-icon{
    background-image: url("images/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.poster-img-1{
    height: 500px;
    background-repeat: no-repeat;
}

.poster-caption{
    margin-bottom: 150px;
}

.poster-title{
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.poster-txt{
    font-size: 20px;
    color: gray;
}

.poster-caption-1{
    margin-bottom: 70px;
    margin-right: 280px;
}

.signout:hover{
    cursor: pointer;
}

.pm{
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pm1{
    background-image: url("resource/payment_method/visa_img.png");
}

.pm2{
    background-image: url("resource/payment_method/mastercard_img.png");
}

.pm3{
    background-image: url("resource/payment_method/american_express_img.png");
}

.pm4{
    background-image: url("resource/payment_method/paypal_img.png");
}

.singleProduct{
    padding-top: 65px;
    padding-bottom: 145px;
    padding: 20px;
}

.main-img{
    height: 640px;
    background-image: url("resource/empty.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-qty{
    width: 105px;
    height: 45px;
    padding: 10px;
}

.qty-buttons{
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border: solid 1px rgb(72,71,71);
}

.qty-inc,.qty-dec{
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    cursor: pointer;
}

.qty-inc{
    border-top-right-radius: 5px;
}

.qty-dec{
    border-bottom-right-radius: 5px;
}

.emptyView{
    height: 400px;
    background-image: url("resource/watchlistEmptyView.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.emptyCart{
    height: 400px;
    background-image: url("resource/emptycart.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.txt{
    color: aquamarine;
}
.txt:hover{
    color: aliceblue;
    font-weight: bold;
}

.dtransparent{
   color: rgb(255, 140, 0);
   width: 100%;
   height: 100%;
}

.txt1{
    color: white;
}

.imgsize{
    size: 100px;
}


